@std-black: #333;

@std-blue: #aaebf2;
@std-blue-1: #46a7b0;
@std-blue-2: #5fcfd9;
@std-blue-3: #dcf2f4;   //Super light blue

@std-red: #ff3b3f;
@std-red-1: #ff4c51;

@std-gray: #a9a9a9;
@std-gray-1: #efefef; //This is almost white
@std-gray-2: #666;

@std-white: whitesmoke;
@std-white-1: ghostwhite;
