@import "colors.less";

.ccm-input {
    border: solid;
    border-width: 1px;
    box-sizing: border-box;
    font-weight: 600;
    //----
    border-color: @std-gray-2;
    background-color: @std-white;
    color: @std-gray-2;

    &[disabled] {
        opacity: 0.5;
        cursor: default;
    }

    &.normal {
        &[type=text] {
            border-radius: 4px;
            height: 22px;
            line-height: 22px;
            font-size: 12px;
            padding-left: 5px;
            padding-right: 5px;
            padding-top: 1px;
            padding-bottom: 1px;
        }

        &[type=radio] {

        }
    }
}

.ccm-input-container {
    &.normal {
        margin-bottom: 4px 0;
    }
}
