@using CcmClient.Areas.Security.Models.Auth
@model LoginModel

<div>
    <form asp-controller="auth" asp-action="login" method="post">
        <div>
            <label asp-for="UserName">User Name</label>
            <input asp-for="UserName" />
        </div>
        <div>
            <label asp-for="Password">Password</label>
            <input asp-for="Password" type="password" />
        </div>
        <div>
            <button type="submit">Login &gt;</button>
        </div>
    </form>
</div>