<h1>Index</h1>
<div>
    <div>
        <label for="_loginLink">Login</label>
        <a id="_loginLink" asp-area="security" asp-controller="auth" asp-action="login">Link</a>
    </div>
    <div>
        <label for="_registerLink">Register</label>
        <a id="_registerLink" asp-area="security" asp-controller="auth" asp-action="register">Link</a>
    </div>
</div>