@using CCMAdmin.Areas.RegionManager.Models.RegionList
@model RegionListModel

@section scripts{
    <script type="text/javascript">
        let regions = [];
        @foreach(var region in Model)
        {
            @Html.Raw($"regions.push({{id:{region.Id}, name:'{region.Name}'}});")
        }
    </script>
    <script type="text/javascript" src="~/js/region-manager/region-list.js"></script>
}

@section styles{
    <link rel="stylesheet" href="~/js/region-manager/region-list.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/js/region-manager/ccm-region-constructor.css" asp-append-version="true" />
}


<h2>Index</h2>

<div id="_regionList" class="region-list">
    <ccm-region-constructor v-on:created="onRegionCreated"></ccm-region-constructor>

    <ccm-region v-for="region in regions"
                v-bind:id='region.id'
                v-bind:name='region.name'
                v-on:deleted='onRegionDeleted'>
    </ccm-region>
</div>

