@using CCMAdmin.Areas.RegionManager.Models.RegionList
@addTagHelper CCMAdmin.TagHelpers.*, CCMAdmin
@model RegionListModel

@section scripts{
    <json-variable name="regions" data="Model" />
    <script type="text/javascript" src="~/js/region-manager/region-list.js"></script>
}

@section styles{
    <link rel="stylesheet" href="~/js/region-manager/region-list.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/js/region-manager/ccm-region-constructor.css" asp-append-version="true" />
}


<h2>Index</h2>

<div id="_regionList" class="region-list">
    <ccm-region-constructor v-on:created="onRegionCreated"></ccm-region-constructor>

    <ccm-region v-for="region in regions"
                v-bind:id='region.id'
                v-bind:name='region.name'
                v-on:deleted='onRegionDeleted'>
    </ccm-region>
</div>

