@addTagHelper CCMAdmin.TagHelpers.*, CCMAdmin

@{
    ViewData["Title"] = "Home Page";
}

@section styles {
    <link rel="stylesheet" href="~/js/root/home.css" asp-append-version="true" />
}

<div class="style-catalog">
    <table>
        <thead>
            <tr>
                <th>Buttons</th>
                <th colspan="4"></th>
            </tr>
            <tr>
                <th>Size</th>
                <th>Action</th>
                <th>Submit</th>
                <th>Cancel</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td rowspan="2">Normal</td>
                <td>
                    <div class="element-container">
                        <ccm-btn size="Normal" type="Action" text="text" />
                    </div>
                    <div class="code-container">
                        <ccm-btn size="Normal" type="Action" text="text" render-code="true" />
                    </div>
                </td>
                <td>
                    <div class="element-container">
                        <ccm-btn size="Normal" type="Submit" text="text" />
                    </div>
                    <div class="code-container">
                        <ccm-btn size="Normal" type="Submit" text="text" render-code="true" />
                    </div>
                </td>
                <td>
                    <div class="element-container">
                        <ccm-btn size="Normal" type="Cancel" text="text" />
                    </div>
                    <div class="code-container">
                        <ccm-btn size="Normal" type="Cancel" text="text" render-code="true" />
                    </div>
                </td>
                <td>
                    <div class="element-container">
                        <ccm-btn size="Normal" type="Delete" text="text" />
                    </div>
                    <div class="code-container">
                        <ccm-btn size="Normal" type="Delete" text="text" render-code="true" />
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="element-container">
                        <ccm-btn size="Normal" type="Action" text="text" disabled="true" />
                    </div>
                    <div class="code-container">
                        <ccm-btn size="Normal" type="Action" text="text" disabled="true" render-code="true" />
                    </div>
                </td>
                <td>
                    <div class="element-container">
                        <ccm-btn size="Normal" type="Submit" text="text" disabled="true" />
                    </div>
                    <div class="code-container">
                        <ccm-btn size="Normal" type="Submit" text="text" disabled="true" render-code="true" />
                    </div>
                </td>
                <td>
                    <div class="element-container">
                        <ccm-btn size="Normal" type="Cancel" text="text" disabled="true" />
                    </div>
                    <div class="code-container">
                        <ccm-btn size="Normal" type="Cancel" text="text" disabled="true" render-code="true" />
                    </div>
                </td>
                <td>
                    <div class="element-container">
                        <ccm-btn size="Normal" type="Delete" text="text" disabled="true" />
                    </div>
                    <div class="code-container">
                        <ccm-btn size="Normal" type="Delete" text="text" disabled="true" render-code="true" />
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <table>
        <thead>
            <tr>
                <th>Image Buttons</th>
                <th colspan="4"></th>
            </tr>
            <tr>
                <th>Size</th>
                <th>Action</th>
                <th>Submit</th>
                <th>Cancel</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td rowspan="2">Normal</td>
                <td>
                    <div class="element-container">
                        <ccm-btn-ico type="Action" size="Normal" ico="Submit" />
                    </div>
                    <div class="code-container">
                        <ccm-btn-ico type="Action" size="Normal" ico="Submit" render-code="true" />
                    </div>
                </td>
                <td>
                    <div class="element-container">
                        <ccm-btn-ico type="Submit" size="Normal" ico="Submit" />
                    </div>
                    <div class="code-container">
                        <ccm-btn-ico type="Submit" size="Normal" ico="Submit" render-code="true" />
                    </div>
                </td>
                <td>
                    <div class="element-container">
                        <ccm-btn-ico type="Cancel" size="Normal" ico="Cancel" />
                    </div>
                    <div class="code-container">
                        <ccm-btn-ico type="Cancel" size="Normal" ico="Cancel" render-code="true" />
                    </div>
                </td>
                <td>
                    <div class="element-container">
                        <ccm-btn-ico type="Delete" size="Normal" ico="Delete" />
                    </div>
                    <div class="code-container">
                        <ccm-btn-ico type="Delete" size="Normal" ico="Delete" render-code="true" />
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    <div class="element-container">
                        <ccm-btn-ico type="Action" size="Normal" ico="Submit" disabled="true" />
                    </div>
                    <div class="code-container">
                        <ccm-btn-ico type="Action" size="Normal" ico="Submit" disabled="true" render-code="true" />
                    </div>
                </td>
                <td>
                    <div class="element-container">
                        <ccm-btn-ico type="Submit" size="Normal" ico="Submit" disabled="true" />
                    </div>
                    <div class="code-container">
                        <ccm-btn-ico type="Submit" size="Normal" ico="Submit" disabled="true" render-code="true" />
                    </div>
                </td>
                <td>
                    <div class="element-container">
                        <ccm-btn-ico type="Cancel" size="Normal" ico="Cancel" disabled="true" />
                    </div>
                    <div class="code-container">
                        <ccm-btn-ico type="Cancel" size="Normal" ico="Cancel" disabled="true" render-code="true" />
                    </div>
                </td>
                <td>
                    <div class="element-container">
                        <ccm-btn-ico type="Delete" size="Normal" ico="Delete" disabled="true" />
                    </div>
                    <div class="code-container">
                        <ccm-btn-ico type="Delete" size="Normal" ico="Delete" disabled="true" render-code="true" />
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <table>
        <thead>
            <tr>
                <th>All Image Buttons</th>
                <th colspan="4"></th>
            </tr>
            <tr>
                <th>Size</th>
                <th colspan="4">Buttons</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Normal</td>
                <td colspan="4">
                    <div class="element-container">
                        <ccm-btn-ico type="Action" size="Normal" ico="Submit" />
                        <ccm-btn-ico type="Action" size="Normal" ico="Delete" />
                        <ccm-btn-ico type="Action" size="Normal" ico="Cancel" />
                        <ccm-btn-ico type="Action" size="Normal" ico="Plus" />
                        <ccm-btn-ico type="Action" size="Normal" ico="Minus" />
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>